

QMainWindow {
    background-color: #ffffff
}

QMenuBar {
    background-color: #ffffff
}


QPushButton {
    background-color: #777777;
    border-radius: 0px;
    color: #000000
}

QPushButton:checked, QPushButton:hover:checked, QPushButton:pressed {
    background-color: #b3d9ff;
    border-style: inset;
    color: #000000
}

QPushButton:hover {
    background-color: #707070
}